<div class="container">
    <h3>Welcome <%=@user.first_name%> </h3>
    <div class="row">
        <div>
            <h3>Your analytics</h3>
            <p>Lorem ipsum shandelui iver na y um. Laravnir lilo piedra los karachtelia. Kria verach mir biadelir. Kùm, irtalezia brigor, kùm maraktelia brigor, Ir rahmet kidra volundr preesha</p>
        </div>
        <%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-light" %>
    </div>
</div>
